#weather-layout{
    width:888px;
    margin-left: auto;
    margin-right : auto;
    border:0.3rem solid #3f51b5;
}

#frameBanner{
    height:36px;
    width:888px;
    margin-bottom:-36px;
    background-color: #3f51b5;
    color:white;
    position: relative;
    z-index: 2;
}

#frameFooter{
    height:36px;
    width:888px;
    margin-top:-6px;
    background-color: #3f51b5;
    color:white;
    position: relative;
    z-index: 2;
}

#frameFooter p {
    padding-top:20px;
    text-align: right;
    font-size: 0.6rem;
}

a{
    color:white
}